<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(Main).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private Theme theme = new Theme
        {
            BodyOptions = new ThemeBodyOptions
            {
                TextColor = "#EEEEEE",
                BackgroundColor = "#222222",
            },
            ColorOptions = new ThemeColorOptions
            {
                Dark = "#EEEEEE",
                Light = "#222222",
            },
            InputOptions = new ThemeInputOptions
            {
                Color = "#222222",
            },
            BackgroundOptions = new ThemeBackgroundOptions
            {
                Body = "#222222",
                Dark = "#EEEEEE",
                Light = "#222222",
                Info = "#222222",
                Primary = "#222222",
                Secondary = "#EEEEEE"
            },
            TextColorOptions = new ThemeTextColorOptions
            {
                Body = "#222222",
                White = "#222222",
                Light = "#222222",
                Dark = "#EEEEEE",
                Black50 = "#EEEEEE",
                White50 = "#222222"
            }
        };
}