@page "/"
@using Grpc.Net.Client
@using System.Reactive.Linq
@using System.Reactive
@using asagiv.pushrocket.common.Models
@using asagiv.pushrocket.ui.common.ViewModels
@inject MainViewModel ViewModel
@inject IMessageService MessageService

<Div>

    <Div class="d-flex align-items-stretch">

        <Div class="form-floating flex-grow-1" Margin="Margin.Is2">

            <TextEdit InputMode="TextInputMode.Url"
                      Class="form-control"
                      id="floatingInput"
                      @bind-Text="@ViewModel.ConnectionString"
                      placeholder=" " />

            <FieldLabel For="floatingInput">Connection String</FieldLabel>

        </Div>

        <Button Color="Color.Primary" Margin="Margin.Is2"
                Clicked="@(x => ViewModel.ConnectCommand.Execute(null))">
            Connect
        </Button>

    </Div>

    @if (ViewModel.IsConnected)
    {
        <Div Class="d-flex align-items-stretch" Margin="Margin.Is2">
            <Select TValue="string" @bind-SelectedValue="@ViewModel.SelectedDestinationNode">
                @foreach (var destinationNode in ViewModel.DestinationNodes)
                {
                    <SelectItem Value="@destinationNode">@destinationNode</SelectItem>
                }
            </Select>
        </Div>

        <Div Class="d-flex align-items-stretch">
            <Button Color="Color.Primary" Margin="Margin.Is2" Clicked="@(x => ViewModel.PushFilesCommand.Execute(null))" Block>Select Files</Button>
        </Div>
    }
    else
    {
        <Div>
            <Text TextAlignment="TextAlignment.Center">
                Please connect to a PushRocket server.
            </Text>
        </Div>
    }

    @foreach (var context in ViewModel.PushContexts.Reverse())
    {
        <Div Class="d-flex align-items-stretch">
            <Card Margin="Margin.Is2" Width="Width.Is100">
                <CardBody>

                    <CardTitle>
                        <Div Class="d-flex justify-content-between align-items-center">
                            <Text>@context.Name</Text>

                            @switch (context.Status)
                            {
                                case DeliveryStatus.InProgress:
                                    <Icon Name="IconName.Hourglass" TextColor="TextColor.Primary" IconStyle="IconStyle.Regular"></Icon>
                                    break;
                                case DeliveryStatus.Successful:
                                    <Icon Name="IconName.Check" TextColor="TextColor.Success" IconStyle="IconStyle.Solid"></Icon>
                                    break;
                                default:
                                    <Icon Name="IconName.ExclamationTriangle" TextColor="TextColor.Primary" IconStyle="IconStyle.Regular"></Icon>
                                    break;
                            }

                        </Div>
                    </CardTitle>

                    @if (context.Status == DeliveryStatus.InProgress)
                    {
                        <div>
                            <progress max="@context.TotalNumberOfBlocks"
                                      style="height: 30px;width: 100%"
                                      value="@context.NumberOfBlocksPushed">
                            </progress>
                        </div>
                    }

                </CardBody>
            </Card>
        </Div>
    }

</Div>

@code
{
    protected override void OnInitialized()
    {
        ViewModel.ErrorObservable
            .SelectMany(ShowErrorNotifier)
            .Subscribe();

        ViewModel.PropertyChanged += async (s, e) => await InvokeAsync(() => this.StateHasChanged());

        ViewModel.PushContexts.CollectionChanged += async (s, e) =>
        {
            await InvokeAsync(() => this.StateHasChanged());

            var newItems = e.NewItems?.OfType<DataPushContext>();

            if (newItems == null)
            {
                return;
            }

            foreach (var newItem in newItems)
            {
                newItem.PropertyChanged += async (t, f) => await InvokeAsync(() => this.StateHasChanged());
            }
        };

        base.OnInitialized();
    }

    private async Task<Unit> ShowErrorNotifier(string errorMessage)
    {
        await MessageService.Error(errorMessage, "Error");

        return Unit.Default;
    }
}